<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1844228.8185893747!2d32.863908106249994!3d25.471361200000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144769a043ff5fc1%3A0xb40fd8cb852983af!2z2YXYudix2LYg2KfZhNi32K3Yp9mGINmE2YTYqtmF2YjYsQ!5e0!3m2!1sar!2seg!4v1757687536250!5m2!1sar!2seg"  height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="row w-100 my-3 px-5">
    <div class="col-md-6 col-sm-12 ps-5">
        <p class="text-secondary text-center mb-2">تواصل مع تمور الطحان</p>
        <h3 class="text-secondary text-center">اترك رسالتك</h3>
        <form action="https://www.gmail.com" class="row justify-content-start align-items-center">
            <div class="col-6 my-4">
                <label class="me-2" for="name">الاسم</label>
                <input type="text" class="form-control" id="name" >
            </div>
            <div class="col-6 my-4">
                <label class="me-2" for="email">الايميل</label>
                <input type="email" class="form-control" id="email" >
            </div>
            <div class="col-12 mb-4">
                <label for="phone">رقم الهاتف</label>
                <input type="tel" class= "form-control me-2 mb-2" id="phone">
            </div>
            
            <div class="col-12 mb-4">
                <label for="section">القسم المراد التواصل معه</label>
                <select name="dapartment" id="section" class= "form-control me-2 mb-2 text-secondary">
                    <option selected value="1">التسويق</option>
                    <option value="2">التصدير</option>
                    <option value="3">ادارة المشتريات</option>
                    <option value="4">خدمة العملاء</option>
                </select>
            </div>
            <label for="massage">اترك رسالتك</label>
            <div class="col-12">                
                <textarea name="massage" id="massage" style="width: 100%; height:80px;"></textarea>
            </div>
            <div class="col-3">
                <button type="submit" class="btn text-white btn-lg px-4 mt-3" style="background-color: var(--main-color);">ارسال</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-sm-12 pe-5">
        <p class="text-secondary text-center mb-2">تواصل مع تمور الطحان</p>
        <h3 class="text-secondary text-center">جهات التواصل</h3>
        <div class="text-end" style="color: var(--main-color); line-height: 40px;">
            <p>رقم الواتساب: 01067717725</p>
            <p>رقم خدمة العملاء: 01033511626</p>
            <p>رقم خدمة العملاء: 01033511626</p>
            <p>رقم الخط الساخن: 16833</p>
            <p>المكتب الرئيسي: 417 ش الهرم - الجيزة</p>
            <p>مصنع الوادي الجديد: الخارجه - المنطقة الصناعية - مصر العبور - المنطقة الصناعية الرابعة - طريق المطار انشاص - مصر</p>
            <p>مصنع بنها: الطريق الإقليمي - المنطقة الاستثمارية - بنها - مصر</p>
        </div>
    </div>
</div>

