<div class="row px-5 mb-5" style="font-weight: 600;">
    <div class="col-md-6 col-sm-12 ps-5 text-end">
        <h6>من نحن؟</h6>
        <h1 class="my-3">تمور الطحان</h1>
        <h4 class="text-secondary">تُعد شركة الطحان للتمور واحدة من أكبر الشركات العالمية الرائدة في إنتاج وتصدير التمور، حيث تأسست في عام 2005. ومنذ انطلاقها، ارتبط اسمها بـ الجودة والتميّز في الأسواق المحلية والعالمية، مما جعلها الخيار الأول لعشاق التمور في مصر، الخليج، أوروبا، آسيا، وأمريكا.</h4>
        <div class="d-flex mt-5 justify-content-center">
            <a href="https://www.tiktok.com/"  style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1">
                <i class="fab mx-1 text-light fa-tiktok"></i>
            </a>
            <a href="https://www.whatsapp.com/" style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1">
                <i class="fab mx-1 text-light fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/" style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1">
                <i class="fab mx-1 text-light fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/" style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1">
                <i class="fab mx-1 text-light fa-youtube"></i>
            </a>
            <a href="https://www.instgram.com/" style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1 ">
                <i class="fab mx-1 text-light fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/" style="width:25px; height: 25px;" class="rounded-circle bg-secondary text-center mx-1">
                <i class="fab mx-1 text-light fa-facebook-f"></i>
            </a>            
        </div>
    </div>
    <div class="col-md-6 col-sm-12 pe-5">
        <img src="../../assets/images/about-us-1.jpg" width="100%" height="286" alt="">
    </div>
</div>
<div style="font-weight: 600;">
    <h6 class="text-center">من نحن؟</h6>
    <h1 class="text-center my-3">مصانع الطحان</h1>
</div>


<div class="row px-5 mb-5">
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-2.jpg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h2>أولاً: وحدات التبريد والتخزين</h2>
        <h4 class="text-secondary">يضم المصنع ثلاجات تبريد ضخمة بطاقة استيعابية تتجاوز 2000 طن، حيث تُخزَّن التمور الطبيعية بجميع أنواعها في درجات حرارة مثالية تتراوح بين 5 إلى 10 درجات مئوية. وتُرتَّب التمور داخل الثلاجات بطريقة علمية ومنظمة، بما يضمن الحفاظ على جودتها وقيمتها الغذائية لأطول فترة ممكنة.</h4>
    </div>
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-3.jpeg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h2>ثانيًا: خطوط الإنتاج الحديثة</h2>
        <h4 class="text-secondary">يضم مصنع تمور الطحان خطوط إنتاج متقدمة تمر فيها التمور بسلسلة من المراحل الدقيقة لضمان تنقيتها وتعقيمها بالشكل الأمثل، وتشمل:</h4>
        <ul dir="rtl" class="text-secondary">
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
        </ul>
        <h4>بعد ذلك، تُدخل التمور إلى مجفف بسعة 5 أطنان، حيث تتعرض لهواء ساخن يدور باستمرار لمدة ساعتين تقريبًا بدرجة حرارة تتراوح بين 60 إلى 80 درجة مئوية. وتُسهم هذه العملية في تحويل السكر الثنائي إلى سكر أحادي سهل الامتصاص والهضم، مع الحفاظ على ليونة الألياف الطبيعية وإفراز المادة الشمعية التي تمنح التمر نضارته.</h4>
    </div>
</div>

<div class="row px-5 mb-5">
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-4.jpeg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h2>ثالثًا: معايير الجودة والرقابة الصحية المعتمدة</h2>
        <h4 class="text-secondary">ولي مصانع تمور الطحان أهمية قصوى للجودة وسلامة الغذاء، حيث تخضع كافة مراحل الإنتاج والفرز والتعبئة لإشراف دقيق داخل صالات مخصصة للجودة تتميّز بأعلى مستويات التعقيم والنظافة. يُمنع منعًا باتًا دخول أي شخص غير مخوّل له إلى هذه الصالات، ولا يُسمح بالتعامل مع التمور إلا للكوادر الفنية المدربة التي اجتازت برامج تأهيلية متخصصة في سلامة الغذاء والنظافة الصناعية.</h4>
        <h4>وقد حصلت مصانعنا على اعتماد رسمي من الهيئة القومية لسلامة الغذاء المصرية، بعد اجتياز جميع اختبارات الفحص والمراجعة وفقًا لمتطلبات الجودة الصارمة التي تفرضها الهيئة، مما يجعل "تمور الطحان" من أوائل المصانع المصرية المتخصصة في التمور التي تعمل ضمن نظام جودة شامل ومعتمد وموثوق.</h4>
    </div>
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-5.jpeg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h4 class="text-secondary">إن التزامنا الكامل بجودة التمور، وتعقيم البيئة المحيطة بها، هو ما يميز "تمور الطحان" ويجعل منتجاتنا الخيار الأول لمن يبحث عن التمور الصحية والطبيعية النقية المعتمدة رسميًا والمُنتَجة وفقًا لأعلى معايير الصناعة.</h4>
        <h4>بعد ذلك، تُدخل التمور إلى مجفف بسعة 5 أطنان، حيث تتعرض لهواء ساخن يدور باستمرار لمدة ساعتين تقريبًا بدرجة حرارة تتراوح بين 60 إلى 80 درجة مئوية. وتُسهم هذه العملية في تحويل السكر الثنائي إلى سكر أحادي سهل الامتصاص والهضم، مع الحفاظ على ليونة الألياف الطبيعية وإفراز المادة الشمعية التي تمنح التمر نضارته.</h4>
    </div>
</div>

<div class="row px-5 mb-5">
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-6.jpeg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h2>رابعًا: الصناعات التحويلية والابتكار</h2>
        <h4 class="text-secondary">في إطار سعي تمور الطحان للتميّز والابتكار، تم إنشاء أقسام متخصصة في الصناعات التحويلية للتمور الطبيعية، ويعمل بها فريق محترف من الكوادر المؤهلة لإنتاج مجموعة من المنتجات الفاخرة، دون أي إضافات صناعية أو مواد حافظة، ومنها:</h4>
        <h4>التمور المحشوة بالفواكه الطبيعية مثل التمر المحشو بالبرتقال، الفراولة، التين، وغيرها
التمور المغلفة بالشوكولاتة الفاخرة (الداكنة والبيضا. )
دبس التمر الطبيعي عالي الجودة، بمذاق أصيل وقيمة غذائية كبيرة</h4>
    </div>
    <div class="col-md-6 col-sm-12 ps-5">
        <img src="../../assets/images/about-us-7.jpeg" width="100%" height="286" alt="">
    </div>
    <div class="col-md-6 col-sm-12 pe-5 text-end" style="line-height: 35px;">
        <h2>خامسًا: التعبئة والتغليف</h2>
        <h4 class="text-secondary">تمر منتجات تمور الطحان بمرحلة تعبئة دقيقة داخل صالات الإنتاج، حيث يتم:</h4>
        <ul dir="rtl" class="text-secondary">
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
            <li>هزاز الغسيل: لإزالة الشوائب والأتربة العالقة بحبات التمر</li>
        </ul>
        <h4>وأخيرًا، تُنقل المنتجات إلى أسطول التوزيع الخاص بالشركة، الذي يغطي جميع أنحاء جمهورية مصر العربية، في خطوات منظمة تضمن وصول المنتج إلى المستهلك في أفضل حال</h4>
    </div>
</div>