<div class="container">
    <div class="row gy-4">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers2.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers1.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers4.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers3.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers1.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center border-0 ">
                <img src="../../assets/images/offers2.png" class="" alt="p">
                <div class="card-body pt-0 ">
                    <p class="card-title ">تمر بالكاجو</p>
                    <p class="card-text text-secondary">مشكلات تمور</p>
                </div>
                <h1 class="lead fw-bold" style="font-size: 14px;">
                    120.00 EGP - 180.00 EGP 
                </h1>
            </div>
        </div>
    </div>
</div>
