<div class="d-flex gap-2">
    <div class="blog text-center position-relative" appHover >
        <figure class="position-relative my-3">
            <div class="overflow-hidden">
                <img src="../../assets/images/blog-1.jpg" width="100%">
            </div>
            <div class="date position-absolute text-center bg-white px-2 py-1">13 <br> سبتمبر</div>
            <a routerLink="blog-1" class="span-1 position-absolute text-white badge py-2">مقالات</a>
        </figure>
        
        <h1>رطب مفتل من تمور الطحان – طعم ملكي لا يُقاوم</h1>
        <p class="text-secondary">ذا كنت من محبي التمور وتبحث عن طعم فريد ونكهة غنية، فلا بد أنك جربت الرطب المفتل من تمور الطحان. يعد الرطب المفتل أحد أنواع التمور الف...</p>
        <a routerLink="blog-1" style="color: var(--sub-color);">تابع القراءة</a>
        <div id="content" class="content w-100">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <div class="blog text-center position-relative" appHover >
        <figure class="position-relative my-3">
            <div class="overflow-hidden">
                <img src="../../assets/images/blog-2.jpeg" width="100%">
            </div>
            <div class="date position-absolute text-center bg-white px-2 py-1">15 <br> سبتمبر</div>
            <a routerLink="blog-1" class="span-1 position-absolute text-white badge py-2">مقالات</a>
        </figure>
        
        <h1>رطب مفتل من تمور الطحان – طعم ملكي لا يُقاوم</h1>
        <p class="text-secondary">ذا كنت من محبي التمور وتبحث عن طعم فريد ونكهة غنية، فلا بد أنك جربت الرطب المفتل من تمور الطحان. يعد الرطب المفتل أحد أنواع التمور الف...</p>
        <a routerLink="blog-1" style="color: var(--sub-color);">تابع القراءة</a>
        <div id="content" class="content w-100">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <div class="blog text-center position-relative" appHover >
        <figure class="position-relative my-3">
            <div class="overflow-hidden">
                <img src="../../assets/images/blog-3.jpeg" width="100%">
            </div>
            <div class="date position-absolute text-center bg-white px-2 py-1">25 <br> مارس</div>
            <a routerLink="blog-1" class="span-1 position-absolute text-white badge py-2">مقالات</a>
        </figure>
        
        <h1>رطب مفتل من تمور الطحان – طعم ملكي لا يُقاوم</h1>
        <p class="text-secondary">ذا كنت من محبي التمور وتبحث عن طعم فريد ونكهة غنية، فلا بد أنك جربت الرطب المفتل من تمور الطحان. يعد الرطب المفتل أحد أنواع التمور الف...</p>
        <a routerLink="blog-1" style="color: var(--sub-color);">تابع القراءة</a>
        <div id="content" class="content w-100">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>

